<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    the name of the user is : {{ user_name }}<br>
    the number of followers this user has is :{{ user_followers_count }} <br>
    the number of following this user has is : {{ user_following_count }} <br>
    {% if logged_in_profile %}
    {% else %}
    {% if show_unfollow_button %}
    <a href="/unfollowView?username={{user_name}}&id={{user_id}}"><button>UNFOLLOW</button></a>
    {% else %}
    <a href="/followView?username={{user_name}}&id={{user_id}}"><button>FOLLOW</button></a><br>

    {% endif %}
    {% endif %}
    {% if logged_in_profile %}
    <form action="{% url 'LaboursProfile:post_page' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <label for="choose_post">Choose post</label>
        <input type="file" name="labour_post" id='choose_post' placeholder="choose post" style="display: none;">
        <button type="submit">post</button>
    </form>
    {% endif %}
    {% if logged_in_profile %}
    {% for items in user_post_images %}

        <img src="/media/{{items.labour_image}}" alt="post picture" width="100" height="100">
   

    {% endfor %}

    {% else %}
    {% for items in particular_user_posts %}
    <img src="/media/{{items.labour_image}}" alt="post picture" width="100" height="100">
    {% endfor %}
    {% endif %}
</body>
</html>  