{% extends 'LaboursProfile/base.html' %}

{% block style %}
<style>
.profile-container{

    height: 260px;
    width: 260px;
    border-radius: 166px;
    border: 3px solid #24153a;
  
    padding: 4px;
}
.all-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}
p , label{
    font-size: 27px;
}

label , .unfollow-button{
    background-color: #3b1572;
    width: 16rem;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: none;
    font-size: 27px;
   

}
.post-button , .follow-button{
    background-color: #24153a;
    width: 16rem;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 27px;
}

.photo-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 5rem;
    overflow-y: scroll;
    height: 33.8rem;
    align-content: flex-start; 
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

.post-img{
    width: 283px;
    height: 187px;

}

.theimageclass{
     transition: transform .2s ease-in-out;
}

 .theimageclass:hover{
              transform: scale(1.5);
              opacity: 0.4;
              
            }
            .imagecardback{
              background-color: black;
              overflow: hidden;
              margin: 1px;
              width: 283px;
              height: 187px;
            }
.info-container{
    text-align: center;
    
}


    

</style>
{% endblock %}

{% block content %}
<div class='container all-container'>
    <!-- adb -->
    <div class="info-container">
        <img src="/media/{{user_profile_picture}}" class="profile-container" alt="">
        <p style="margin-top: 0.7rem;"> {{ user_name }}<br></p> 
        <p>Followers : {{ user_followers_count }} </p>
        <p>Following :  {{ user_following_count }} </p>
    {% if logged_in_profile %}
    {% else %}
    {% if show_unfollow_button %}
    <a href="/unfollowView?username={{user_name}}&id={{user_id}}"><button class='unfollow-button'>UNFOLLOW</button></a>
    {% else %}
    <a href="/followView?username={{user_name}}&id={{user_id}}"><button class='follow-button'>FOLLOW</button></a>

    {% endif %}
    {% endif %}
    {% if logged_in_profile %}
    <form action="{% url 'LaboursProfile:post_page' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <label for="choose_post">Choose post</label><br>
        <input type="file" name="labour_post" id='choose_post' placeholder="choose post" style="display: none;">
        <button type="submit" class='post-button'>post</button>
    </form>
    {% endif %}
</div>

    <div class="photo-container">
    {% if logged_in_profile %}
    {% for items in user_post_images %}
        <div class="imagecardback">
        <img src="/media/{{items.labour_image}}" alt="post picture" class="post-img theimageclass">
    </div>
 
    {% endfor %}

    {% else %}
    {% for items in particular_user_posts %}
    <div class="imagecardback">
    <img src="/media/{{items.labour_image}}" alt="post picture" class="post-img theimageclass">
</div>
    {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}
