<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<style>
    .form-container{
      
width: 40rem;   
margin-top: 11rem;
display: flex;

flex-direction: column;
    }
    .signuppara{
        margin-left: 11rem;
margin-top: 1rem;
    }
</style>
<body>
 
    <form action="{% url 'labours:signup_page' %}" method="post" enctype="multipart/form-data" class="container form-container"> {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" name='username' placeholder="Write your username" style="width: 38.5rem;">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" name='password' placeholder="Write your password" style="width: 38.5rem;">
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword3" name='invitation_code' placeholder="Write your invitation code" style="width: 38.5rem;">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <label for="profile_picture" class="form-control" style="width: 38.5rem;">Upload Profile Picture </label>
              <input type="file" class="form-control" id="profile_picture" name='profile_picture' style="width: 38.5rem; display: none;">
            </div>
          </div>
        
        <button type="submit" class="btn btn-primary">Sign up</button>
        <p class="signuppara">Already have an account? <a href="{% url 'labours:login_page' %}" style="text-decoration: none;">Log in</a></p>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>